<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Binding.Android" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="17" android:targetSdkVersion="17" />
	<application android:label="Binding.Android" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>