<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MugenInjection" version="3.5.1" targetFramework="net45" />
  <package id="MugenMvvmToolkit" version="4.2.0" targetFramework="net45" />
  <package id="MugenMvvmToolkit.MugenInjectionContainer" version="4.2.0" targetFramework="net45" />
  <package id="MugenMvvmToolkit.WPF" version="4.2.0" targetFramework="net45" />
</packages>