<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Navigation.Android.AppCompat" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="21" />
	<application android:label="Navigation.Android.AppCompat" android:icon="@drawable/Icon" android:theme="@style/Theme.AppCompat"></application>
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>